<h1>Employees</h1>

<label for="">Name:</label>
<input type="text"[(ngModel)]="name">
<br>
<label for="">Experience:</label>
<input type="number" [(ngModel)]="experience">
<br>
<label for="">Package:</label>
<input type="number" [(ngModel)]= "package" >
<br>
<label for="">Role:</label>
<input type="text"[(ngModel)]="empRole">
<br>
<button class="btn btn-primary" (click)="add()">add</button>
<br><br>

<button (click)="hike()" class="btn btn-info">Hike</button>

<button (click)="bonus()" class="btn btn-info">50k Bonus</button>

<input class="form-control w-25" type="text" placeholder="Search Name" [(ngModel)]="term" (keyup)="search()">

<select class="form-control w-50" [(ngModel)]="role" (change)="rolefilter()">
    <option>UIDeveloper</option>
    <option>Software Developer</option>
    <option>Data engineer</option>
    <option>Testing Engineer</option>
</select>

<button (click)="packageh()" class="btn btn-warning">Packages High to Low</button>
<button (click)="package1()" class="btn btn-success">Packages Low to High</button>
<button (click)="total()" class="btn btn-primary">Cost to Company</button>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees,let i=index">
            <td>{{i+1}}</td>
            <td [ngClass]="{'text-danger':employee.package<1000000,'text-success':employee.package>=1000000}">{{employee.name | uppercase}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button *ngIf="employee.package>500000" (click)="delete(i)" class="btn btn-danger">delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
