.parent{
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.child{
    width: 40%;
    height: 55%;
    background-color: cadetblue;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
.top{
    /* width: 100%; */
    height: 20%;
    background-color: orangered;
    display: flex;
}
.logo{
    width: 100px;
    height: 100%;
    
}
h2{
   margin-left: 20%;
}
.middle{
    /* width: 100%; */
    height: 60%;
    background-color: white;
    display: flex;
    padding: 10px;
}
.left{
    width: 65%;
    height: 100%;
    
}
.right{
    width: 35%;
    height: 100%;
}
.profilepic{
    width: 100%;
    height: 100%;
}
.pin{
    display: flex;
    justify-content: space-around;
}
.btns{
    display: flex;
    justify-content: space-evenly;
    
}
p{
    color: red;
}
