<p>create-user works!</p>

<form [formGroup]="userForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
         <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name Is Required</p>
         <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 Characters</p>
         <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 characters</p>
    </div>
    <br>
    <label for="">Age:</label>
    <input type="text" formControlName="age">
    <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Age Is Required</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['min']">Minimum 18 years</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['max']">Max 60 years</p>
   </div>
    <br>
    <label for="">Email:</label>
    <input type="text" formControlName="email">
    <br>
    <label for="">Phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <div formGroupName="address">
        <label for="">City:</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">Pin:</label>
        <input type="text" formControlName="pin">
    </div>

    <label for="">Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar">
    <label for="">Day scholar:</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label for="">Residential:</label>
    <br>
    <!-- (2) -->
    <div *ngIf="userForm.get('type')?.value=='dayScholar'">
        <label for="">Bus Fee:</label>
        <input type="number" formControlName="busfee">
        <br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label for="">Hostel Fee:</label>
        <input type="number" formControlName="hostelFee">
        <br>
    </div>

    <label for="">cards:</label>
    <button (click)="addcard()" >Add Card</button>
    <br><br>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls;let i=index">
            <div formGroupName="{{i}}">
                <h2>Card {{i+1}}</h2>
                <label for="">Number:</label>
                <input type="number" formControlName="number">
                <br>

                <label for="">Expiry:</label>
                <input type="month" formControlName="expiry">
                <br>

                <label for="">CVV:</label>
                <input type="number" formControlName="cvv">
                <br>

                <button class="btn btn-danger" (click)="deleteCard(i)">delete</button>
                <hr>
            </div>
        </div>
    </div>

    <button (click)="submit()" class="btn btn-warning">Submit</button>
    <br>
</form>
