<div class="parent">
    <div class="left">
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="databinding">Date Binding</h3>
        <h3 routerLink="calculate">Calculate</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="event-registration">Event-registration</h3>
        <h3 routerLink="add-employee">Add-employee</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="accounts">Accounts</h3>
        <h3 routerLink="amazon">Amazon</h3>
        <h3 routerLink="mail">Mail</h3>
        <h3 routerLink="images">Images</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink="create-vehicle">create-vehicle</h3>
        <h3 routerLink="blog">Blog</h3>
        <h3 routerLink="imdb">IMDB Movies</h3>
        <h3 routerLink="pokeman">Pokeman Slides</h3>
        <h3 routerLink="create-vehicle">Create-Vehicle</h3>
        <h3 routerLink="create-accounts">Create-accounts</h3>
        <h3 routerLink="student-card">Student-Card</h3>
        <h3 routerLink="create-student-card">Create-Student-Card</h3>
        <h3 routerLink="user-profiles">UserProfiles</h3>
        <h3 routerLink="dummy-display">Dummy-Display</h3>
        <h3 routerLink="create-user">Create-User</h3>
        <h3 routerLink="student-details">Student-Details</h3>
        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
